<section class="w-1/2 mx-auto">
  <h1 class="text-3xl pb-4 h-style text-emerald-600 font-medium text-center">
    Forgot Password?
  </h1>
  @if (step === 1) {
  <form
    (ngSubmit)="verifyEmailSubmit()"
    [formGroup]="verifyEmail"
    class="border border-emerald-300 p-4 pb-5 mb-1s rounded-xl shadow-emerald-100 shadow-sm"
  >
    <div class="mb-1">
      @let emailControl = verifyEmail.get('email');
      <label
        for="email"
        class="block mb-1 ms-1 text-sm font-medium text-emerald-600 dark:text-white"
        >Please enter your email address</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-gray-50 border border-y-emerald-300 border-x-emerald-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-400 focus:border-emerald-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
      />
      @if (emailControl?.errors && emailControl?.touched){
      <div
        class="flex p-4 mb-1 mx-1 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Error</span>
          <ul class="mt-1.5 list-disc list-inside">
            @if (emailControl?.getError('required')) {
            <li>Required</li>
            }@else if (emailControl?.getError('email')) {
            <li>Enter a Valid Email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="flex flex-col items-center">
      <button
        [disabled]="verifyEmail.invalid || isLoading"
        type="submit"
        class="btn-main px-8 mt-3"
      >
        Verify Email @if (isLoading) {
        <span><i class="fas fa-spin fa-spinner ms-1"></i></span>
        }
      </button>
    </div>
  </form>
  } @if (step === 2) {
  <form
    (ngSubmit)="verifyCodeSubmit()"
    [formGroup]="verifyCode"
    class="border border-emerald-300 p-4 pb-5 mb-1s rounded-xl shadow-emerald-100 shadow-sm"
  >
    <div class="mb-1">
      @let resetCode = verifyCode.get('resetCode');
      <label
        for="resetCode"
        class="block mb-1 ms-1 text-sm font-medium text-emerald-600 dark:text-white"
        >Please enter your verification code</label
      >
      <input
        formControlName="resetCode"
        type="text"
        id="resetCode"
        class="bg-gray-50 border border-y-emerald-300 border-x-emerald-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-400 focus:border-emerald-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
      />
      @if (resetCode?.errors && resetCode?.touched){
      <div
        class="flex p-4 mb-1 mx-1 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Error</span>
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetCode?.getError('required')) {
            <li>Required</li>
            }@else if (resetCode?.getError('pattern')) {
            <li>Enter a Valid Code</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="flex flex-col items-center">
      <button
        [disabled]="verifyCode.invalid || isLoading"
        type="submit"
        class="btn-main px-8 mt-3"
      >
        Verify Code @if (isLoading) {
        <span><i class="fas fa-spin fa-spinner ms-1"></i></span>
        }
      </button>
      @if (codeError !== "") {
      <p
        class="bg-red-50 border mt-3 text-red-800 border-red-300 rounded-md py-2 px-2 w-4/5 text-center"
      >
        Reset code is invalid or has expired
      </p>
      }
    </div>
  </form>
  } @if (step === 3) {
  <form
    (ngSubmit)="resetPasswordSubmit()"
    [formGroup]="resetPassword"
    class="border border-emerald-300 p-4 pb-5 mb-1s rounded-xl shadow-emerald-100 shadow-sm"
  >
    <div class="mb-1">
      @let EmailControl = resetPassword.get('email');
      <label
        for="email"
        class="block mb-1 ms-1 text-sm font-medium text-emerald-600 dark:text-white"
        >email</label
      >
      <input
        formControlName="email"
        readonly
        type="email"
        id="email"
        class="bg-gray-50 border border-y-emerald-300 border-x-emerald-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-400 focus:border-emerald-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
      />
      @if (EmailControl?.errors && EmailControl?.touched){
      <div
        class="flex p-4 mb-1 mx-1 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Error</span>
          <ul class="mt-1.5 list-disc list-inside">
            @if (EmailControl?.getError('required')) {
            <li>Required</li>
            }@else if (EmailControl?.getError('email')) {
            <li>Enter a Valid Email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="mb-1">
      @let passControl = resetPassword.get('newPassword');
      <label
        for="newPassword"
        class="block mb-1 ms-1 text-sm font-medium text-emerald-600 dark:text-white"
        >newPassword</label
      >
      <input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="bg-gray-50 border border-y-emerald-300 border-x-emerald-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-400 focus:border-emerald-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500"
      />
      @if (passControl?.errors && passControl?.touched) {
      <div
        class="flex p-4 mb-1 mx-1 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium"
            >Ensure that these requirements are met:</span
          >
          <ul class="mt-1.5 list-disc list-inside">
            @if (passControl?.getError('required')) {
            <li>Required</li>
            }@else if (passControl?.getError('pattern')) {
            <li>Must start with upperCase</li>
            <li>At least 8 characters (and up to more characters)</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="flex flex-col items-center">
      <button
        [disabled]="resetPassword.invalid || isLoading"
        type="submit"
        class="btn-main px-8 mt-3"
      >
        Sign In @if (isLoading) {
        <span><i class="fas fa-spin fa-spinner ms-1"></i></span>
        }
      </button>
      @if (success === 1) {
      <p
        class="bg-green-50 border mt-3 text-green-800 border-green-300 rounded-md py-2 px-2 w-4/5 text-center"
      >
        Success
      </p>
      }
    </div>
  </form>
  }
</section>
